
    <footer class="l-footer">
    	<div class="container">
            <div class="b-footer">
                <div class="b-footer-top">
                    <div class="b-footer-block">
                        <div class="b-logo b-logo__footer">
                            <a class="b-logo__link" href="#"><img src="images/logo-footer.png" alt="logo"></a>
                        </div>
                        <div class="b-contacts-footer">
                            <p class="b-contacts-footer-item"><i>@:</i> <a class="b-contacts-footer-item__link-mail" href="mailto:hi@wapik.com">hi@wapik.com</a></p>
                            <p class="b-contacts-footer-item"><i>p:</i> <a class="b-contacts-footer-item__link-phone" href="tel:+62 202 555 0117">+62 202 555 0117</a></p>
                            <p class="b-contacts-footer-item"><i>a:</i> <span>610 Overlook Circle Suite 323<br/>
                            Kalamazoo, MI 49009</span></p>
                        </div>
                    </div>
                    <div class="b-footer-block b-footer__menu j-footer-block">
                        <h5 class="g-footer-title">Company</h5>
                        <ul class="b-footer-list">
                            <li><a class="g-link-effect" href="#">Home</a></li>
                            <li><a class="g-link-effect" href="#">About Us</a></li>
                            <li><a class="g-link-effect" href="#">Pricing</a></li>
                            <li><a class="g-link-effect" href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="b-footer-block b-footer__menu j-footer-block">
                        <h5 class="g-footer-title">Others</h5>
                        <ul class="b-footer-list">
                            <li><a class="g-link-effect" href="#">Help & Support</a></li>
                            <li><a class="g-link-effect" href="#">Privacy Policy</a></li>
                            <li><a class="g-link-effect" href="#">Terms</a></li>
                            <li><a class="g-link-effect" href="#">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="b-footer-block b-footer-feedback">
                        <h5 class="g-footer-title">Newsletter</h5>
                        <p class="b-footer-feedback__text">Subscribe to our newsletter and get all
                            the cool news</p>
                        <form class="b-footer-feedback-form" action="#" method="post">
                            <div class="b-footer-feedback__input-img">
                                <i class="icon icon-plane"></i>
                                <input type="text" name="mail" placeholder="Enter Email"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="b-footer-bot">
                    <div class="b-copy b-footer-bot-block">
                        <p>All rights reserved 2015.</p>
                    </div>
                    <ul class="b-socials b-footer-bot-block">
                        <li><a class="tw g-shine-effect" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a class="fb g-shine-effect" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a class="inst g-shine-effect" href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a class="ld g-shine-effect" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a class="you g-shine-effect" href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- .footer -->