<header class="l-header" style="background-image: url(images/bg-header.jpg);">
    <div class="b-header-top g-layer-vam j-header-top">
        <div class="container">
            <div class="b-header-top-wrap">
                <div class="b-logo">
                    <a class="b-logo__link" href="#"><img src="images/logo.png" alt="logo"></a>
                </div>
                <div class="b-phone b-phone__header">
                    <i class="icon icon-phone"></i>
                    <a class="b-phone__link" href="tel:+62 202 555 0117">+62 202 555 0117</a>
                </div>
                <nav class="l-menu">
                    <p class="g-menu-text j-menu">Menu<span class="g-btn-menu"><i></i></span></p>
                    <ul class="b-menu">
                        <li><a class="g-link-effect" href="#">Home</a></li>
                        <li><a class="g-link-effect" href="#">About Us</a></li>
                        <li><a class="g-link-effect" href="#">pricing</a></li>
                        <li><a class="g-link-effect" href="#">Contact Us</a></li>
                        <li><a class="g-btn b-menu__btn" href="#">Get Started</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="b-slogan-bot g-layer-vam g-parallax">
        <div class="container">
            <div class="b-slogan">
                <h1 class="b-slogan__title">Welcome to Wapik</h1>
                <p class="b-slogan__text">Wapik is multipurpose template, with modern and smart design. Wapik is perfect template for you!</p>
                <a href="#" class="g-btn-animate b-btn-animate__slogan"><span><i class="fa fa-eye" aria-hidden="true"></i></span>Learn More</a>
            </div>
        </div>
    </div>
</header>
<!-- .header-->